fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
redis
celery
pandas
numpy
scikit-learn
prophet
python-multipart
groq
httpx
alembic
passlib[bcrypt]
python-jose[cryptography]
